{% extends "layout.html" %}
{% block body %}

<!-- about section starts  -->

<section class="about" id="about">

    <div class="image">
        <img src="{{ url_for('static', filename='img/about.jpg')}}" alt="">
    </div>

    <div class="content">
        <h3>why choose us?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aperiam quaerat dolor voluptas nobis voluptates illum? Inventore voluptas dolore voluptates.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex delectus ducimus dignissimos pariatur. Amet sed distinctio earum dolorum nulla, in obcaecati aliquid modi quos magni ducimus culpa nobis laudantium incidunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vero fugiat, facere impedit non quos laborum aperiam et recusandae officiis laboriosam nihil soluta illo. Laboriosam quo a velit voluptas nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, natus dolorem! Sit in tenetur repellat porro iusto cupiditate assumenda itaque debitis error. Quis repellendus nam saepe iure necessitatibus, perspiciatis sunt!</p>
        <a href="#"><button class="btn">learn more</button></a>
    </div>

</section>

<!-- about section ends -->
{% endblock %}