{% extends "layout.html" %}
{% block body %}
<!-- connect section starts  -->

<section class="connect" id="connect">

<div class="con">
    <h1 class="heading">connect with your studymate</h1>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At non explicabo tempora modi, reprehenderit ratione sunt ea porro tenetur officiis alias sapiente praesentium voluptas cumque quo maiores dolores totam ex.</p>
    
    <a href="#"><button class="btn">learn more</button></a>
</div>
    
    </section>
    
    <!-- connect section ends -->
    {% endblock %}