{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleDSA.css')}}">

<!-- DSA section starts  -->


    <section class=" whatsnew" id="whatsnew">

    <div class="content">
        <div class="image">
            <img src="{{ url_for('static', filename='img/whatsnew.jpg')}}" alt="">
        </div>
        <h3>what's New?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aperiam quaerat dolor voluptas nobis voluptates illum? Inventore voluptas dolore voluptates.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex delectus ducimus dignissimos pariatur. Amet sed distinctio earum dolorum nulla, in obcaecati aliquid modi quos magni ducimus culpa nobis laudantium incidunt.</p>
        <!--a href="#"><button class="btn">Get Started</button></a-->
    </div>
</section>

<!-- DSA section ends -->

<!-- how to learn dsa section starts  -->

<div class="how" id="how">
    <div class="content">
            <h3 style="text-align: center;">how to learn DSA ?</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas similique quo vel quod accusantium fugit quaerat assumenda dolorum. Distinctio maiores omnis iusto dolorum modi deleniti ex nobis, vel earum! Eligendi?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni autem suscipit officiis! Quae voluptas harum, repellat magni ipsam ullam, illum, quisquam totam facere dolorem aliquid. Earum, culpa. Necessitatibus, quod magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima repellat voluptatum mollitia nobis dignissimos soluta debitis ipsam officia suscipit enim tenetur sint libero facilis, at quibusdam perspiciatis unde neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam rerum adipisci, iure voluptates voluptatibus vitae eveniet nobis, iusto libero maiores molestiae odit! Saepe dolorem pariatur maxime suscipit iusto sint tempora! Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            </p>
   </div>
</div>

<!-- how to learn dsa section ends  -->

<!-- why to learn dsa section starts  -->

<section class="how" id="how">
    <div class="content">
            <h3 style="text-align: center;">Why to learn DSA ?</h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas similique quo vel quod accusantium fugit quaerat assumenda dolorum. Distinctio maiores omnis iusto dolorum modi deleniti ex nobis, vel earum! Eligendi?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni autem suscipit officiis! Quae voluptas harum, repellat magni ipsam ullam, illum, quisquam totam facere dolorem aliquid. Earum, culpa. Necessitatibus, quod magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima repellat voluptatum mollitia nobis dignissimos soluta debitis ipsam officia suscipit enim tenetur sint libero facilis, at quibusdam perspiciatis unde neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam rerum adipisci, iure voluptates voluptatibus vitae eveniet nobis, iusto libero maiores molestiae odit! Saepe dolorem pariatur maxime suscipit iusto sint tempora! Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            </p>
   </div>
   </section>
<!-- why to learn dsa section ends  -->



<!-- get started section starts  -->

    <div class="dsa" id="dsa">
        
    
        <div class="image">
            <img src="{{ url_for('static', filename='img/DSA.jpeg')}}" alt="">
        </div>
        <div class="content">
            <h3>Data Structure and Algorithms</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aperiam quaerat dolor voluptas nobis voluptates illum? Inventore voluptas dolore voluptates.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex delectus ducimus dignissimos pariatur. Amet sed distinctio earum dolorum nulla, in obcaecati aliquid modi quos magni ducimus culpa nobis laudantium incidunt.</p>
            <a href="/dsahome"><button class="btn">Get Started</button></a>
       </div>
    </div>



<!-- get started section ends -->


{% endblock %}








