{% extends "innerpage.html" %}
{% block body %}
<div class="content">
       
    <div class="read">
       <h3>Introduction</h3>
       <p>Data Structures are the programmatic way of storing data so that data can be used efficiently. Almost every enterprise application uses various types of data structures in one or the other way. This tutorial will give you a great understanding on Data Structures needed to understand the complexity of enterprise level applications and need of algorithms, and data /structures </p>

        <b> Why to Learn Data Structure and Algorithms? </b>
        <ul>As applications are getting complex and data rich, there are three common problems that applications face now-a-days.
            <li> <b> Data Search- </b> Consider an inventory of 1 million(106) items of a store. If the application is to search an item, it has to search an item in 1 million(106) items every time slowing down the search. As data grows, search will become slower.</li>
            <li> <b>Processor speed −</b> Processor speed although being very high, falls limited if the data grows to billion records.</li>
            <li> <b> Multiple requests −</b>As thousands of users can search data simultaneously on a web server, even the fast server fails while searching the data.</li>
        </ul>
        
        
        
        
        
        <p> To solve the above-mentioned problems, data structures come to rescue. Data can be organized in a data structure in such a way that all items may not be required to be searched, and the required data can be searched almost instantly.</p>
        
        Applications of Data Structure and Algorithms
        Algorithm is a step-by-step procedure, which defines a set of instructions to be executed in a certain order to get the desired output. Algorithms are generally created independent of underlying languages, i.e. an algorithm can be implemented in more than one programming language.
        
        From the data structure point of view, following are some important categories of algorithms −
        
        Search − Algorithm to search an item in a data structure.
        
        Sort − Algorithm to sort items in a certain order.
        
        Insert − Algorithm to insert item in a data structure.
        
        Update − Algorithm to update an existing item in a data structure.
        
        Delete − Algorithm to delete an existing item from a data structure.
        
        The following computer problems can be solved using Data Structures −
        
        Fibonacci number series
        Knapsack problem
        Tower of Hanoi
        All pair shortest path by Floyd-Warshall
        Shortest path by Dijkstra
        Project scheduling Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem reprehenderit ipsum explicabo doloribus voluptatem, libero eum, maiores, a ex obcaecati nam labore praesentium eius sapiente repudiandae. Adipisci dolorum quisquam nulla! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam eligendi earum laboriosam molestias recusandae! Voluptatem vitae eos tenetur ea, facere optio quia necessitatibus aut hic minima dignissimos nobis, nihil repudiandae.</p>
    </div>
    <div class="video">
        <h3>video lectures</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5_5oE5lgrhw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/DFpWCl_49i0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="practiceq">
        <h3>practice questions</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consequatur sed aut veniam, ullam iusto. Eius quod asperiores ut, magni ex illo similique sunt consectetur expedita voluptatum sint ea veritatis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi natus ipsa harum consectetur ex consequuntur ab error nostrum officia eius quisquam optio, cupiditate id tempora quibusdam quaerat nobis aliquam illo.</p>
    </div>
    <div class="interviewq">
        <h3>Questions asked in previous interviews</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, voluptas culpa velit repellat alias vero aliquam similique delectus incidunt totam quis sapiente. Eum ipsa sit quo inventore, ipsum quisquam explicabo.</p>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum quos blanditiis delectus consectetur cumque temporibus dolorem odit quod, ut, beatae recusandae libero? Repellat id hic odio, deserunt nemo eum atque.</p>       
    </div>
</div>
{% endblock %}